# Compiled Python files and caches
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
pyvenv.cfg

# Packaging / build artifacts
build/
dist/
*.egg-info/

# Django / database artifacts
db.sqlite3
*.sqlite3
*.log
media/
staticfiles/

# Docker & data volumes
postgres_data/

# IDE / editor folders
.vscode/
.idea/
*.swp

# macOS files
.DS_Store

# Environment variable files
.env
.env.*
!/.env.example

# Node.js / Next.js
node_modules/
.next/
out/
*.pnp
.pnp.js
.yarn/
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz


# package-lock
package-lock.json
